@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.message</h2>

<div class="jumbotron">
    <h1>HikeAmper</h1>
    <p class="lead">This application allows you to aggregate information about all interested hikes to help you choose a hike.</p>
</div>


<div class="row">
    @using (Html.BeginForm("Add", "Hike"))
    {
        <div class="col-md-4">
            <h2>Add a hike</h2>
            <p>
                Find a hike from WTA and add it to the list of your hikes.
            </p>
            <input type="text" name="hikeUrl" />
            <input type="submit" class="btn btn-primary" name="Go" value="Go" />
        </div>
    }
</div>

@model IEnumerable<HikeAmper.Models.HikeSummary>

@if (Model.Count() > 0)
{
    <h2>My Hike Details</h2>
    
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Round tripDetails<br />
                (In miles)
            </th>
            <th>
                Elevation<br />
                (In feet)
            </th>
            @foreach (var detail in Model.First().WeatherDetails)
            {
                <th>
                    Weather<br />
                    @String.Format("{0}, {1} {2}", @detail.date.weekday_short, @detail.date.monthname_short, @detail.date.day)
                </th>
            }
            <th>
                Latest tripDetails Report<br />
            </th>
            <th>
                Distance<br/>
                (In miles)
            </th>            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@item.HikeAndTripDetails.HikeDetails.url target="_blank">@item.HikeAndTripDetails.HikeDetails.name</a>                    
                </td>
                <td>
                    @item.HikeAndTripDetails.HikeDetails.roundTripLength
                </td>
                <td>
                    @item.HikeAndTripDetails.HikeDetails.elevation
                </td>
                @foreach (var weather in @item.WeatherDetails)
                {
                    <td>
                        @String.Format("Rain  -  {0}%", @weather.pop)<br />
                        <table class="table-condensed">
                            <tr>
                                <th>High</th>
                                <th>Low</th>
                            </tr>
                            <tr>
                                <td>
                                    @String.Format("{0}°C", @weather.high.celsius)
                                </td>
                                <td>
                                    @String.Format("{0}°C", @weather.low.celsius)
                                </td>
                            </tr>
                        </table>
                    </td>
                }
                <td>
                    <a href=@item.HikeAndTripDetails.TripDetails.Url target="_blank">@item.HikeAndTripDetails.TripDetails.Date</a><br/>
                    @item.HikeAndTripDetails.TripDetails.TypeOfHike <br/>
                    @item.HikeAndTripDetails.TripDetails.TrailCondition <br/>
                    @item.HikeAndTripDetails.TripDetails.SnowCondition <br/>
                    @item.HikeAndTripDetails.TripDetails.RoadCondition <br/>
                    @item.HikeAndTripDetails.TripDetails.BugsCondition <br/>
                    <a href=@item.HikeAndTripDetails.HikeDetails.TripReportsUrl target="_blank">Other Reports</a><br/>
                </td>
                <td>
                    @item.MapDetails.Distance<br/>
                    @item.MapDetails.Duration<br/>
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Hike"))
                    {
                        <input type="hidden" name="hikeUrl" value="@item.HikeAndTripDetails.HikeDetails.url"/>
                        <input type="image" src="~/Images/trash.png" name="Delete" value="Delete" />
                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>No hikes found in your account.</h2>
    <p>
        Please add hikes before trying to view details about hikes.
    </p>
}