@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.message</h2>

<div class="jumbotron">
    <h1>HikeAmper</h1>
    <p class="lead">This application allows you to aggregate information about all interested hikes to help you choose a hike.</p>
</div>


<div class="row">
    @using (Html.BeginForm("Add", "Hike"))
    {
        <div class="col-md-4">
            <h2>Add a hike</h2>
            <p>
                Find a hike from WTA and add it to the list of your hikes.
            </p>
            <input type="text" name="hikeUrl" />
            <input type="submit" class="btn btn-primary" name="Go" value="Go" />
        </div>
    }
</div>

@model IEnumerable<CommonModels.Hike.HikeSummary>

@if (Model.Count() > 0)
{
    <h2>My Hike Details</h2>
    
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Location Name
            </th>
            <th>
                Round tripDetails<br />
                (In miles)
            </th>
            <th>
                Elevation<br/>
                (In feet)
            </th>
            @for (int i=0; i<4; i++)
            {
                <th>
                    Weather<br />                    
                </th>
            }
            <th>
                Latest Trip Report<br />
            </th>
            <th>
                Distance<br/>
                (In miles)
            </th>
            <th>
                Pass Information
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@item.HikeAndTripDetails.HikeDetails.Url target="_blank">@item.HikeAndTripDetails.HikeDetails.Name</a>
                </td>
                <td>
                    @item.HikeAndTripDetails.HikeDetails.LocationName
                </td>
                <td>
                    <b>@item.HikeAndTripDetails.HikeDetails.RoundTripLength</b>
                </td>
                <td>
                    Gain:
                    <b>
                        @item.HikeAndTripDetails.HikeDetails.ElevationDetails.Gain
                    </b> <br/><br/>
                    Highest Point:
                    @item.HikeAndTripDetails.HikeDetails.ElevationDetails.HighestPoint<br/>
                </td>
                @if (@item.WeatherDetails == null)
                {
                    for (int i = 0; i < 4; i++)
                    {
                        <td>NA</td>
                    }
                }
                else
                {
                    foreach (var weather in @item.WeatherDetails)
                     {
                         <td>
                             <b>@String.Format("{0}, {1} {2}", @weather.Date.Weekday_Short, @weather.Date.Monthname_Short, @weather.Date.Day)</b><br /><br />
                             @String.Format("Rain  -  {0}%", @weather.Pop)<br/>
                             <table class="table-condensed">
                                 <tr>
                                     <th>High</th>
                                     <th>Low</th>
                                 </tr>
                                 <tr>
                                     <td>
                                         @String.Format("{0}°C", @weather.High.Celsius)
                                     </td>
                                     <td>
                                         @String.Format("{0}°C", @weather.Low.Celsius)
                                     </td>
                                 </tr>
                             </table>
                         </td>
                     }
                }
                <td>
                    <a href=@item.HikeAndTripDetails.TripDetails.Url target="_blank">@item.HikeAndTripDetails.TripDetails.Date</a><br/>
                    @item.HikeAndTripDetails.TripDetails.TypeOfHike <br/>
                    @item.HikeAndTripDetails.TripDetails.TrailCondition <br/>
                    @item.HikeAndTripDetails.TripDetails.SnowCondition <br/>
                    @item.HikeAndTripDetails.TripDetails.RoadCondition <br/>
                    @item.HikeAndTripDetails.TripDetails.BugsCondition <br/><br/>
                    <a href=@item.HikeAndTripDetails.HikeDetails.TripReportsUrl target="_blank">Other Reports</a><br/>
                </td>
                <td>
                    @item.MapDetails.Distance<br/><br/>
                    <b>@item.MapDetails.Duration</b><br/>
                </td>
                <td>
                    @item.HikeAndTripDetails.HikeDetails.PassRequired
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Hike"))
                    {
                        <input type="hidden" name="hikeUrl" value="@item.HikeAndTripDetails.HikeDetails.Url"/>
                        <input type="image" src="~/Images/trash.png" name="Delete" value="Delete"/>
                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    <h2>No hikes found in your account.</h2>
    <p>
        Please add hikes before trying to view details about hikes.
    </p>
}